<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="publicLayout">
<head>
    <title>Head</title>
</head>
<body>
    <header>
        <h3 layout:fragment="finaex-header">Head</h3>
    </header>
    <section layout:fragment="finaex-content">
        <div class="mywrapper">
            <p th:text="${message}">The message</p>
        </div>
    </section>
</body>
</html>
